@font-face {
  font-family: 'core-icons';
  src:  url('../fonts/core-icons.eot');
  src:  url('../fonts/core-icons.eot') format('embedded-opentype'),
    url('../fonts/core-icons.ttf') format('truetype'),
    url('../fonts/core-icons.woff') format('woff'),
    url('../fonts/core-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'core-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e923";
}
.icon-cancel:before {
  content: "\e922";
}
.icon-engineer:before {
  content: "\e900";
}
.icon-idea:before {
  content: "\e901";
}
.icon-building:before {
  content: "\e902";
}
.icon-houses:before {
  content: "\e903";
}
.icon-architect:before {
  content: "\e904";
}
.icon-house-sketch:before {
  content: "\e905";
}
.icon-brokerage:before {
  content: "\e906";
}
.icon-statue:before {
  content: "\e907";
}
.icon-buildings:before {
  content: "\e908";
}
.icon-calculation:before {
  content: "\e909";
}
.icon-church:before {
  content: "\e90a";
}
.icon-company:before {
  content: "\e90b";
}
.icon-construction:before {
  content: "\e90c";
}
.icon-house-design:before {
  content: "\e90d";
}
.icon-engineers:before {
  content: "\e90e";
}
.icon-factory:before {
  content: "\e90f";
}
.icon-hospital:before {
  content: "\e910";
}
.icon-hotel:before {
  content: "\e911";
}
.icon-house-plan:before {
  content: "\e912";
}
.icon-model:before {
  content: "\e913";
}
.icon-park:before {
  content: "\e914";
}
.icon-resort:before {
  content: "\e915";
}
.icon-road:before {
  content: "\e916";
}
.icon-school:before {
  content: "\e917";
}
.icon-draft:before {
  content: "\e918";
}
.icon-smarthome:before {
  content: "\e919";
}
.icon-christ-the-redeemer:before {
  content: "\e91a";
}
.icon-structure:before {
  content: "\e91b";
}
.icon-temple:before {
  content: "\e91c";
}
.icon-stationery:before {
  content: "\e91d";
}
.icon-back:before {
  content: "\e91e";
}
.icon-down-arrow:before {
  content: "\e91f";
}
.icon-menu:before {
  content: "\e920";
}
.icon-right-arrow:before {
  content: "\e921";
}
